Include /etc/ssh/sshd_config.d/*.conf
HostKey /run/tinfoil/keys/host-ssh/private_key.pem
AuthorizedKeysFile /run/authorized_keys /root/.ssh/authorized_keys
PermitRootLogin prohibit-password
PasswordAuthentication no
KbdInteractiveAuthentication no
UsePAM yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp internal-sftp
